body {
  font-family: "Poppins", sans-serif;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  padding-right: 30px;
  padding-top: 30px;
}

li {
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}
.weather-app {
  padding: 40px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.temperature {
  font-size: 42px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}

.unit {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.temperature-container {
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.weather-facts {
  padding-top: 20px;
  text-align: left;
  margin: 0;
}

footer {
  color: #ffffff;
}
